/*-----------------------------------------------------------------------------------
	Item Name: Cupcake
	Description: User-Friendly Admin Template
	Author: Egemen Kapusuz
	Author URL: http://www.themeforest.net/user/egemem
	License: http://www.gnu.org/licenses/gpl-3.0.html
-----------------------------------------------------------------------------------*/

/* 740 */
.grid740 {
	width: 740px;
	padding-bottom: 40px;
}

/* 450 */
.grid450-left {
	width: 450px;
	padding-bottom: 40px;
	float: left;
	margin-right: 20px;
}

.grid450-right {
	width: 450px;
	padding-bottom: 40px;
	float: right;
}

/* 270 */
.grid270-right {
	width: 270px;
	padding-bottom: 40px;
	float: right;
}

.grid270-left {
	width: 270px;
	padding-bottom: 40px;
	float: left;
	margin-right: 20px;
}

/* 160 */
.grid160-right {
	width: 160px;
	padding-bottom: 40px;
	float: right;
}

.grid160-left {
	width: 160px;
	padding-bottom: 40px;
	float: left;
	margin-right: 20px;
}

/* 180 */
.grid180-left {
	width: 180px;
	padding-bottom: 40px;
	float: left;
	margin-right: 20px;
}

.grid180-right {
	width: 180px;
	padding-bottom: 40px;
	float: right;
}

/* 200 */
.grid200-right {
	width: 200px;
	padding-bottom: 40px;
	float: right;
}

.grid200-left {
	width: 200px;
	padding-bottom: 40px;
	float: left;
	margin-right: 20px;
}

/* 340 */
.grid340-left {
	width: 340px;
	padding-bottom: 40px;
	float: left;
	margin-right: 20px;
}

.grid340-right {
	width: 340px;
	padding-bottom: 40px;
	float: right;
}

/* 360 */
.grid360-left {
	width: 360px;
	padding-bottom: 40px;
	float: left;
	margin-right: 20px;
}

.grid360-right {
	width: 360px;
	padding-bottom: 40px;
	float: right;
}