/* tables */
table.tablesorter {
	font-family: arial;
	background-color: #CDCDCD;
	margin: 0px 0pt 0px;
	font-size: 12px;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th,table.tablesorter tfoot tr th {
	background: #EFF3F8 url(../img/tableshorter/titlebg.png) repeat-x bottom;
	border: 1px solid #CBDAE8;
	border-top: none;
	border-bottom: none;
	font-size: 8pt;
	padding: 12px;
}

table.tablesorter thead tr .header {
	background-image: url(../img/tableshorter/bg.gif);;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	color: #333;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 12px;
	background-color: #FFF;
	vertical-align: top;
	border: 1px solid #D8E4E9;
	color: #6C7D8C;
}

table.tablesorter tbody tr.odd td {
	background-color: #D7D7D7;
}

table.tablesorter tbody td:hover {
	background-color: #F8FAFB;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/tableshorter/bg.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/tableshorter/desc.gif);
}

table.tablesorter thead tr .headerSortDown,table.tablesorter thead tr .headerSortUp
	{
	background-color: #E0E8F1;
}

table.tablesorter tr:hover {
	background: #F8FAFB;
}

table.tablesorter tr:hover td {
	background: none;
}